$primary-dark-color: #1f194c;

@media (max-width: 760px) {

    table tr td:nth-child(5),
    table tr th:nth-child(5) {
        display: none;
    }
}

table tr th {
    font-size: 12px;
}

table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#dropdown-basic,
#dropdown-basic-search {
    background-color: transparent;
    color: $primary-dark-color;
    border: none;
}

#dropdown-basic-search {
    padding-right: 0 !important;
}

a.dropdown-item {
    font-size: 14px;
    color: $primary-dark-color;
}

.song-list-container {
    max-width: 85%;
    max-height: 500px;
    min-height: 300px;

    .dropdown-toggle::after {
        content: none;
    }
}

// .song-list-container::-webkit-scrollbar {
// width: 5px;
// height: 8px;
// background-color: white;
// border-radius: 5px;
// }

// .song-list-container::-webkit-scrollbar-thumb {
//     background-color: $primary-dark-color;
//     border-radius: 5px;
//     height: 2px;
// }

.playlist-song-container-text,
.song-list-container-text {
    max-width: 85%;
}

.playlist-song-container {
    max-width: 85%;
    max-height: 500px;
    border-radius: 1rem !important;
}